@import '../colors.scss';

:host {
  mat-form-field {
    position: relative;
    margin-left: 20px;
    width: calc(100% - 76px);

    .error-field {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      font-size: 12px;
      color: $error;
    }
  }

  mat-nav-list {
    margin-top: 10px;
  }

  .mat-list-item--selected {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
